{% extends "profiles/stislabase.html" %} {% load static %} {% block extrahead %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

{% endblock %} {% block content %}

<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Performance Curve Maps</h1>
        </div>
        <h2 class="section-title">FI/CI 1160 RPM</h2>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card card-statistic-1">
                    <div class="card-wrap">
                        <div class="card-body">
                            <div id="chartFI1160" class="mapchart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="section-title">FI/CI 1450 RPM</h2>
        <div class="row">
            <div class="col-lg-12 col-md-14 col-sm-16 col-12">
                <div class="card card-statistic-1">
                    <div class="card-wrap">
                        <div class="card-body">
                            <div id="chartFI1450" class="mapchart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="section-title">FI/CI 1760 RPM</h2>
        <div class="row">
            <div class="col-lg-12 col-md-14 col-sm-16 col-12">
                <div class="card card-statistic-1">
                    <div class="card-wrap">
                        <div class="card-body">
                            <div id="chartFI1760" class="mapchart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="section-title">FI/CI 2900 RPM</h2>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card card-statistic-1">
                    <div class="card-wrap">
                        <div class="card-body">
                            <div id="chartFI2900" class="mapchart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="section-title">FI/CI 3500 RPM</h2>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card card-statistic-1">
                    <div class="card-wrap">
                        <div class="card-body">
                            <div id="chartFI3500" class="mapchart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="section-title">KV/KS 1160 RPM</h2>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card card-statistic-1">
                    <div class="card-wrap">
                        <div class="card-body">
                            <div id="chartKV1160" class="mapchart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="section-title">KV/KS 1450 RPM</h2>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card card-statistic-1">
                    <div class="card-wrap">
                        <div class="card-body">
                            <div id="chartKV1450" class="mapchart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="section-title">KV/KS 1760 RPM</h2>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card card-statistic-1">
                    <div class="card-wrap">
                        <div class="card-body">
                            <div id="chartKV1760" class="mapchart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="section-title">KV/KS 2900 RPM</h2>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card card-statistic-1">
                    <div class="card-wrap">
                        <div class="card-body">
                            <div id="chartKV2900" class="mapchart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="section-title">KV/KS 3500 RPM</h2>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card card-statistic-1">
                    <div class="card-wrap">
                        <div class="card-body">
                            <div id="chartKV3500" class="mapchart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $(document).ready(function() {
        Highcharts.setOptions({
            chart: {
                style: {
                    fontFamily: 'Helvetica',
                    fontWeight: 'normal'
                }
            }
        });
        const pageUpdate = () => {   
            var myWidth = $('#chartFI1760').width();
            var myHeight = $('#chartFI1760').width() * 0.75;
            var pumpdata_FI_1760 = []
            var pumpdata_FI_1160 = []
            var pumpdata_FI_3500 = []
            var pumpdata_FI_1450 = []
            var pumpdata_FI_2900 = []
            var pumpdata_KV_1760 = []
            var pumpdata_KV_1160 = []
            var pumpdata_KV_3500 = []
            var pumpdata_KV_1450 = []
            var pumpdata_KV_2900 = []
            $.getJSON("{% url 'marketingmapdata' %}").done(function(data) {
                for (let model in data.data.FI) {
                    let designs = data.data.FI[model];
                    for (let design in designs) {
                        plot_data_FI_1760 = data.data.FI[model][design]['1760'].plot_data
                        pumpdata_FI_1760.unshift({
                            name: 'FI'+model+design+"1760",
                            type: 'polygon',
                            data: plot_data_FI_1760,
                            color: Highcharts.color("#FFFFFF").setOpacity(.9).get(),
                            enableMouseTracking: false,
                            dashStyle: 'Solid',
                        });
                        if ("1160" in data.data.FI[model][design]){
                            plot_data_FI_1160 = data.data.FI[model][design]['1160'].plot_data
                            pumpdata_FI_1160.unshift({
                                name: 'FI'+model+design+"1160",
                                type: 'polygon',
                                data: plot_data_FI_1160,
                                color: Highcharts.color("#FFFFFF").setOpacity(.9).get(),
                                enableMouseTracking: false,
                                dashStyle: 'Solid',
                            });
                        }
                        if ("3500" in data.data.FI[model][design]){
                            plot_data_FI_3500 = data.data.FI[model][design]['3500'].plot_data
                            pumpdata_FI_3500.unshift({
                                name: 'FI'+model+design+"3500",
                                type: 'polygon',
                                data: plot_data_FI_3500,
                                color: Highcharts.color("#FFFFFF").setOpacity(.9).get(),
                                enableMouseTracking: false,
                                dashStyle: 'Solid',
                            });
                        }
                        if ("1450" in data.data.FI[model][design]){
                            plot_data_FI_1450_metric = data.data.FI[model][design]['1450'].plot_data_metric
                            pumpdata_FI_1450.unshift({
                                name: 'FI'+model+design+"1450",
                                type: 'polygon',
                                data: plot_data_FI_1450_metric,
                                color: Highcharts.color("#FFFFFF").setOpacity(.9).get(),
                                enableMouseTracking: false,
                                xAxis: 0,
                                yAxis: 0,
                                dashStyle: 'Solid',
                            });
                        }
                        if ("2900" in data.data.FI[model][design]){
                            plot_data_FI_2900_metric = data.data.FI[model][design]['2900'].plot_data_metric
                            pumpdata_FI_2900.unshift({
                                name: 'FI'+model+design+"2900",
                                type: 'polygon',
                                data: plot_data_FI_2900_metric,
                                color: Highcharts.color("#FFFFFF").setOpacity(.9).get(),
                                enableMouseTracking: false,
                                xAxis: 0,
                                yAxis: 0,
                                dashStyle: 'Solid',
                            });
                        }
                    }
                }
                for (let model in data.data.KV) {
                    let designs = data.data.KV[model];
                    for (let design in designs) {
                        plot_data_KV_1760 = data.data.KV[model][design]['1760'].plot_data
                        pumpdata_KV_1760.unshift({
                            name: 'KV'+model+design+"1760",
                            type: 'polygon',
                            data: plot_data_KV_1760,
                            color: Highcharts.color("#FFFFFF").setOpacity(.9).get(),
                            enableMouseTracking: false,
                            dashStyle: 'Solid',
                        });
                        if ("1160" in data.data.KV[model][design]){
                            plot_data_KV_1160 = data.data.KV[model][design]['1160'].plot_data
                            pumpdata_KV_1160.unshift({
                                name: 'KV'+model+design+"1160",
                                type: 'polygon',
                                data: plot_data_KV_1160,
                                color: Highcharts.color("#FFFFFF").setOpacity(.9).get(),
                                enableMouseTracking: false,
                                dashStyle: 'Solid',
                            });
                        }
                        if ("3500" in data.data.KV[model][design]){
                            plot_data_KV_3500 = data.data.KV[model][design]['3500'].plot_data
                            pumpdata_KV_3500.unshift({
                                name: 'KV'+model+design+"3500",
                                type: 'polygon',
                                data: plot_data_KV_3500,
                                color: Highcharts.color("#FFFFFF").setOpacity(.9).get(),
                                enableMouseTracking: false,
                                dashStyle: 'Solid',
                            });
                        }
                        if ("1450" in data.data.KV[model][design]){
                            plot_data_KV_1450_metric = data.data.KV[model][design]['1450'].plot_data_metric
                            pumpdata_KV_1450.unshift({
                                name: 'KV'+model+design+"1450",
                                type: 'polygon',
                                data: plot_data_KV_1450_metric,
                                color: Highcharts.color("#FFFFFF").setOpacity(.9).get(),
                                enableMouseTracking: false,
                                dashStyle: 'Solid',
                            });
                        }
                        if ("2900" in data.data.KV[model][design]){
                            plot_data_KV_2900_metric = data.data.KV[model][design]['2900'].plot_data_metric
                            pumpdata_KV_2900.unshift({
                                name: 'KV'+model+design+"2900",
                                type: 'polygon',
                                data: plot_data_KV_2900_metric,
                                color: Highcharts.color("#FFFFFF").setOpacity(.9).get(),
                                enableMouseTracking: false,
                                xAxis: 0,
                                yAxis: 0,
                                dashStyle: 'Solid',
                            });
                        }
                    }
                }
                $('#chartFI1760').highcharts({
                    chart: {
                        width: myWidth,
                        height: myHeight
                    },
                    title:{
                        text:'FI/CI QUICK SELECTION CURVE • 1760 RPM'
                    },
                    xAxis: [{
                        gridLineWidth: 1,
                        tickInterval: 0.1,
                        min: 10,
                        type: 'logarithmic',
                        title: {
                            enabled: true,
                            text: 'FLOW IN GALLONS PER MINUTE'
                        },
                        startOnTick: true,
                        endOnTick: true,
                        showLastLabel: true
                    },{
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'CAPACITY IN LITRES PER SECOND'
                        },
                        opposite: true
                    }],
                    plotOptions: {
                        series: {
                            lineWidth: 3,
                            lineColor:'#189C5E'
                        }
                    },
                    yAxis: [{
                        tickWidth: .75,   
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN FEET'
                        }
                    },{
                        tickWidth: .75,  
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN METRES',
                            rotation: 270,
                        },
                        startOnTick: false,
                        endOnTick: false,
                        opposite: true
                    },{
                        tickWidth: .75,  
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        lineWidth: .75,
                        offset: 90,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN KPA',
                            rotation: 270,
                        },
                        startOnTick: false,
                        endOnTick: false,
                        opposite: true
                    }],
                    legend: {
                        enabled: false
                    },
                    series: pumpdata_FI_1760
                }, function(chart) {
                    var xAxis = chart.xAxis[0];
                    var yAxis = chart.yAxis[0];
                    for (let model in data.data.FI) {
                        let designs = data.data.FI[model];
                        for (let design in designs) {
                            chart.renderer.label('FI'+model.slice(1)+design, xAxis.toPixels(data.data.FI[model][design]['1760'].label_location[0]), yAxis.toPixels(data.data.FI[model][design]['1760'].label_location[1])).attr({
                                zIndex: 10,
                                'text-anchor': 'middle'
                                }).add()
                        }
                    }
                    chart.xAxis[1].update({
                        min: chart.xAxis[0].getExtremes().min*0.0630902,
                        max: chart.xAxis[0].getExtremes().max*0.0630902
                    });
                    chart.yAxis[1].update({
                        min: chart.yAxis[0].getExtremes().min*0.3048,
                        max: chart.yAxis[0].getExtremes().max*0.3048
                    });
                    chart.yAxis[2].update({
                        min: chart.yAxis[0].getExtremes().min*2.98898,
                        max: chart.yAxis[0].getExtremes().max*2.98898
                    });
                });
                
                $('#chartFI1160').highcharts({
                    chart: {
                        width: myWidth,
                        height: myHeight
                    },
                    title:{
                        text:'FI/CI QUICK SELECTION CURVE • 1160 RPM'
                    },
                    xAxis: [{
                        gridLineWidth: 1,
                        tickInterval: 0.1,
                        min: 10,
                        type: 'logarithmic',
                        title: {
                            enabled: true,
                            text: 'FLOW IN GALLONS PER MINUTE'
                        },
                        startOnTick: true,
                        endOnTick: true,
                        showLastLabel: true
                    },{
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'CAPACITY IN LITRES PER SECOND'
                        },
                        opposite: true
                    }],
                    plotOptions: {
                        series: {
                            lineWidth: 3,
                            lineColor:'#189C5E'
                        }
                    },
                    yAxis: [{
                        tickWidth: .75,   
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN FEET'
                        }
                    },{
                        tickWidth: .75,  
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN METRES',
                            rotation: 270,
                        },
                        startOnTick: false,
                        endOnTick: false,
                        opposite: true
                    },{
                        tickWidth: .75,  
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        lineWidth: .75,
                        offset: 90,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN KPA',
                            rotation: 270,
                        },
                        startOnTick: false,
                        endOnTick: false,
                        opposite: true
                    }],
                    legend: {
                        enabled: false
                    },
                    series: pumpdata_FI_1160
                }, function(chart) {
                    var xAxis = chart.xAxis[0];
                    var yAxis = chart.yAxis[0];
                    for (let model in data.data.FI) {
                        let designs = data.data.FI[model];
                        for (let design in designs) {
                            if ('1160' in data.data.FI[model][design]){
                                chart.renderer.label('FI'+model.slice(1)+design, xAxis.toPixels(data.data.FI[model][design]['1160'].label_location[0]), yAxis.toPixels(data.data.FI[model][design]['1160'].label_location[1])).attr({
                                    zIndex: 10,
                                    'text-anchor': 'middle'
                                }).add()
                            }
                        }
                    }
                    chart.xAxis[1].update({
                        min: chart.xAxis[0].getExtremes().min*0.0630902,
                        max: chart.xAxis[0].getExtremes().max*0.0630902
                    });
                    chart.yAxis[1].update({
                        min: chart.yAxis[0].getExtremes().min*0.3048,
                        max: chart.yAxis[0].getExtremes().max*0.3048
                    });
                    chart.yAxis[2].update({
                        min: chart.yAxis[0].getExtremes().min*2.98898,
                        max: chart.yAxis[0].getExtremes().max*2.98898
                    });
                });
                $('#chartFI3500').highcharts({
                    chart: {
                        width: myWidth,
                        height: myHeight
                    },
                    title:{
                        text:'FI/CI QUICK SELECTION CURVE • 3500 RPM'
                    },
                    xAxis: [{
                        gridLineWidth: 1,
                        tickInterval: 0.1,
                        min: 10,
                        type: 'logarithmic',
                        title: {
                            enabled: true,
                            text: 'FLOW IN GALLONS PER MINUTE'
                        },
                        startOnTick: true,
                        endOnTick: true,
                        showLastLabel: true
                    },{
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'CAPACITY IN LITRES PER SECOND'
                        },
                        opposite: true
                    }],
                    plotOptions: {
                        series: {
                            lineWidth: 3,
                            lineColor:'#189C5E'
                        }
                    },
                    yAxis: [{
                        tickWidth: .75,   
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN FEET'
                        }
                    },{
                        tickWidth: .75,  
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN METRES',
                            rotation: 270,
                        },
                        startOnTick: false,
                        endOnTick: false,
                        opposite: true
                    },{
                        tickWidth: .75,  
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        lineWidth: .75,
                        offset: 90,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN KPA',
                            rotation: 270,
                        },
                        startOnTick: false,
                        endOnTick: false,
                        opposite: true
                    }],
                    legend: {
                        enabled: false
                    },
                    series: pumpdata_FI_3500
                }, function(chart) {
                    var xAxis = chart.xAxis[0];
                    var yAxis = chart.yAxis[0];
                    for (let model in data.data.FI) {
                        let designs = data.data.FI[model];
                        for (let design in designs) {
                            if ('3500' in data.data.FI[model][design]){
                                chart.renderer.label('FI'+model.slice(1)+design, xAxis.toPixels(data.data.FI[model][design]['3500'].label_location[0]), yAxis.toPixels(data.data.FI[model][design]['3500'].label_location[1])).attr({
                                    zIndex: 10,
                                    'text-anchor': 'middle'
                                }).add()
                            }
                        }
                    }
                    chart.xAxis[1].update({
                        min: chart.xAxis[0].getExtremes().min*0.0630902,
                        max: chart.xAxis[0].getExtremes().max*0.0630902
                    });
                    chart.yAxis[1].update({
                        min: chart.yAxis[0].getExtremes().min*0.3048,
                        max: chart.yAxis[0].getExtremes().max*0.3048
                    });
                    chart.yAxis[2].update({
                        min: chart.yAxis[0].getExtremes().min*2.98898,
                        max: chart.yAxis[0].getExtremes().max*2.98898
                    });
                });
                $('#chartFI1450').highcharts({
                    chart: {
                        width: myWidth,
                        height: myHeight
                    },
                    title:{
                        text:'FI/CI QUICK SELECTION CURVE • 1450 RPM'
                    },
                    xAxis: [{
                        gridLineWidth: 1,
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        min: 1,
                        title: {
                            enabled: true,
                            text: 'CAPACITY IN LITRES PER SECOND'
                        },
                        startOnTick: true,
                        endOnTick: true,
                        showLastLabel: true
                    },{
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'FLOW IN GALLONS PER MINUTE'
                        },
                        opposite: true
                    }],
                    plotOptions: {
                        series: {
                            lineWidth: 3,
                            lineColor:'#189C5E'
                        }
                    },
                    yAxis: [{
                        tickWidth: .75,   
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN METRES'
                        }
                    },{
                        tickWidth: .75,  
                        gridLineWidth: 0,
                        tickInterval: .1,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN FEET',
                            rotation: 270,
                        },
                        startOnTick: false,
                        endOnTick: false,
                        opposite: true
                    },{
                        tickWidth: .75,  
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        lineWidth: .75,
                        offset: 90,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN KPA',
                            rotation: 270,
                        },
                        startOnTick: false,
                        endOnTick: false,
                        opposite: true
                    }],
                    legend: {
                        enabled: false
                    },
                    series: pumpdata_FI_1450
                }, function(chart) {
                    chart.xAxis[1].update({
                        min: chart.xAxis[0].getExtremes().min*15.85032314,
                        max: chart.xAxis[0].getExtremes().max*15.85032314
                    });
                    chart.yAxis[1].update({
                        min: chart.yAxis[0].getExtremes().min*3.28084,
                        max: chart.yAxis[0].getExtremes().max*3.28084
                    });
                    chart.yAxis[2].update({
                        min: chart.yAxis[0].getExtremes().min*9.80665,
                        max: chart.yAxis[0].getExtremes().max*9.80665
                    });
                    var xAxis = chart.xAxis[1];
                    var yAxis = chart.yAxis[1];
                    for (let model in data.data.FI) {
                        let designs = data.data.FI[model];
                        for (let design in designs) {
                            if ('1450' in data.data.FI[model][design]){
                                chart.renderer.label('FI'+model.slice(1)+design, xAxis.toPixels(data.data.FI[model][design]['1450'].label_location[0]), yAxis.toPixels(data.data.FI[model][design]['1450'].label_location[1])).attr({
                                    zIndex: 10,
                                    'text-anchor': 'middle'
                                }).add()
                            }
                        }
                    }
                });
                $('#chartFI2900').highcharts({
                    chart: {
                        width: myWidth,
                        height: myHeight
                    },
                    title:{
                        text:'FI/CI QUICK SELECTION CURVE • 2900 RPM'
                    },
                    xAxis: [{
                        gridLineWidth: 1,
                        tickInterval: 0.1,
                        min: 1,
                        type: 'logarithmic',
                        title: {
                            enabled: true,
                            text: 'CAPACITY IN LITRES PER SECOND'
                        },
                        startOnTick: true,
                        endOnTick: true,
                        showLastLabel: true
                    },{
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'FLOW IN GALLONS PER MINUTE'
                        },
                        opposite: true
                    }],
                    plotOptions: {
                        series: {
                            lineWidth: 3,
                            lineColor:'#189C5E'
                        }
                    },
                    yAxis: [{
                        tickWidth: .75,   
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN METRES'
                        }
                    },{
                        tickWidth: .75,  
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN FEET',
                            rotation: 270,
                        },
                        startOnTick: false,
                        endOnTick: false,
                        opposite: true
                    },{
                        tickWidth: .75,  
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        lineWidth: .75,
                        offset: 90,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN KPA',
                            rotation: 270,
                        },
                        startOnTick: false,
                        endOnTick: false,
                        opposite: true
                    }],
                    legend: {
                        enabled: false
                    },
                    series: pumpdata_FI_2900
                }, function(chart) {
                    chart.xAxis[1].update({
                        min: chart.xAxis[0].getExtremes().min*15.85032314,
                        max: chart.xAxis[0].getExtremes().max*15.85032314
                    });
                    chart.yAxis[1].update({
                        min: chart.yAxis[0].getExtremes().min*3.28084,
                        max: chart.yAxis[0].getExtremes().max*3.28084
                    });
                    chart.yAxis[2].update({
                        min: chart.yAxis[0].getExtremes().min*9.80665,
                        max: chart.yAxis[0].getExtremes().max*9.80665
                    });
                    var xAxis = chart.xAxis[1];
                    var yAxis = chart.yAxis[1];
                    for (let model in data.data.FI) {
                        let designs = data.data.FI[model];
                        for (let design in designs) {
                            if ('2900' in data.data.FI[model][design]){
                                chart.renderer.label('FI'+model.slice(1)+design, xAxis.toPixels(data.data.FI[model][design]['2900'].label_location[0]), yAxis.toPixels(data.data.FI[model][design]['2900'].label_location[1])).attr({
                                    zIndex: 10,
                                    'text-anchor': 'middle'
                                }).add()
                            }
                        }
                    }
                });
                $('#chartKV1760').highcharts({
                    chart: {
                        width: myWidth,
                        height: myHeight
                    },
                    title:{
                        text:'KV/KS QUICK SELECTION CURVE • 1760 RPM'
                    },
                    xAxis: [{
                        gridLineWidth: 1,
                        tickInterval: 0.1,
                        min: 10,
                        type: 'logarithmic',
                        title: {
                            enabled: true,
                            text: 'FLOW IN GALLONS PER MINUTE'
                        },
                        startOnTick: true,
                        endOnTick: true,
                        showLastLabel: true
                    },{
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'CAPACITY IN LITRES PER SECOND'
                        },
                        opposite: true
                    }],
                    plotOptions: {
                        series: {
                            lineWidth: 3,
                            lineColor:'#189C5E'
                        }
                    },
                    yAxis: [{
                        tickWidth: .75,   
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN FEET'
                        }
                    },{
                        tickWidth: .75,  
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN METRES',
                            rotation: 270,
                        },
                        startOnTick: false,
                        endOnTick: false,
                        opposite: true
                    },{
                        tickWidth: .75,  
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        lineWidth: .75,
                        offset: 90,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN KPA',
                            rotation: 270,
                        },
                        startOnTick: false,
                        endOnTick: false,
                        opposite: true
                    }],
                    legend: {
                        enabled: false
                    },
                    series: pumpdata_KV_1760
                }, function(chart) {
                    var xAxis = chart.xAxis[0];
                    var yAxis = chart.yAxis[0];
                    for (let model in data.data.KV) {
                        let designs = data.data.KV[model];
                        for (let design in designs) {
                            chart.renderer.label('KV'+model.slice(1)+design, xAxis.toPixels(data.data.KV[model][design]['1760'].label_location[0]), yAxis.toPixels(data.data.KV[model][design]['1760'].label_location[1])).attr({
                                zIndex: 10,
                                'text-anchor': 'middle'
                                }).add()
                        }
                    }
                    chart.xAxis[1].update({
                        min: chart.xAxis[0].getExtremes().min*0.0630902,
                        max: chart.xAxis[0].getExtremes().max*0.0630902
                    });
                    chart.yAxis[1].update({
                        min: chart.yAxis[0].getExtremes().min*0.3048,
                        max: chart.yAxis[0].getExtremes().max*0.3048
                    });
                    chart.yAxis[2].update({
                        min: chart.yAxis[0].getExtremes().min*2.98898,
                        max: chart.yAxis[0].getExtremes().max*2.98898
                    });
                });
                $('#chartKV1160').highcharts({
                    chart: {
                        width: myWidth,
                        height: myHeight
                    },
                    title:{
                        text:'KV/KS QUICK SELECTION CURVE • 1160 RPM'
                    },
                    xAxis: [{
                        gridLineWidth: 1,
                        tickInterval: 0.1,
                        min: 10,
                        type: 'logarithmic',
                        title: {
                            enabled: true,
                            text: 'FLOW IN GALLONS PER MINUTE'
                        },
                        startOnTick: true,
                        endOnTick: true,
                        showLastLabel: true
                    },{
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'CAPACITY IN LITRES PER SECOND'
                        },
                        opposite: true
                    }],
                    plotOptions: {
                        series: {
                            lineWidth: 3,
                            lineColor:'#189C5E'
                        }
                    },
                    yAxis: [{
                        tickWidth: .75,   
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN FEET'
                        }
                    },{
                        tickWidth: .75,  
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN METRES',
                            rotation: 270,
                        },
                        startOnTick: false,
                        endOnTick: false,
                        opposite: true
                    },{
                        tickWidth: .75,  
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        lineWidth: .75,
                        offset: 90,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN KPA',
                            rotation: 270,
                        },
                        startOnTick: false,
                        endOnTick: false,
                        opposite: true
                    }],
                    legend: {
                        enabled: false
                    },
                    series: pumpdata_KV_1160
                }, function(chart) {
                    var xAxis = chart.xAxis[0];
                    var yAxis = chart.yAxis[0];
                    for (let model in data.data.KV) {
                        let designs = data.data.KV[model];
                        for (let design in designs) {
                            if ('1160' in data.data.KV[model][design]){
                                chart.renderer.label('KV'+model.slice(1)+design, xAxis.toPixels(data.data.KV[model][design]['1160'].label_location[0]), yAxis.toPixels(data.data.KV[model][design]['1160'].label_location[1])).attr({
                                    zIndex: 10,
                                    'text-anchor': 'middle'
                                }).add()
                            }
                        }
                    }
                    chart.xAxis[1].update({
                        min: chart.xAxis[0].getExtremes().min*0.0630902,
                        max: chart.xAxis[0].getExtremes().max*0.0630902
                    });
                    chart.yAxis[1].update({
                        min: chart.yAxis[0].getExtremes().min*0.3048,
                        max: chart.yAxis[0].getExtremes().max*0.3048
                    });
                    chart.yAxis[2].update({
                        min: chart.yAxis[0].getExtremes().min*2.98898,
                        max: chart.yAxis[0].getExtremes().max*2.98898
                    });
                });
                $('#chartKV3500').highcharts({
                    chart: {
                        width: myWidth,
                        height: myHeight
                    },
                    title:{
                        text:'KV/KS QUICK SELECTION CURVE • 3500 RPM'
                    },
                    xAxis: [{
                        gridLineWidth: 1,
                        tickInterval: 0.1,
                        min: 10,
                        type: 'logarithmic',
                        title: {
                            enabled: true,
                            text: 'FLOW IN GALLONS PER MINUTE'
                        },
                        startOnTick: true,
                        endOnTick: true,
                        showLastLabel: true
                    },{
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'CAPACITY IN LITRES PER SECOND'
                        },
                        opposite: true
                    }],
                    plotOptions: {
                        series: {
                            lineWidth: 3,
                            lineColor:'#189C5E'
                        }
                    },
                    yAxis: [{
                        tickWidth: .75,   
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN FEET'
                        }
                    },{
                        tickWidth: .75,  
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN METRES',
                            rotation: 270,
                        },
                        startOnTick: false,
                        endOnTick: false,
                        opposite: true
                    },{
                        tickWidth: .75,  
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        lineWidth: .75,
                        offset: 90,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN KPA',
                            rotation: 270,
                        },
                        startOnTick: false,
                        endOnTick: false,
                        opposite: true
                    }],
                    legend: {
                        enabled: false
                    },
                    series: pumpdata_KV_3500
                }, function(chart) {
                    var xAxis = chart.xAxis[0];
                    var yAxis = chart.yAxis[0];
                    for (let model in data.data.KV) {
                        let designs = data.data.KV[model];
                        for (let design in designs) {
                            if ('3500' in data.data.KV[model][design]){
                                chart.renderer.label('KV'+model.slice(1)+design, xAxis.toPixels(data.data.KV[model][design]['3500'].label_location[0]), yAxis.toPixels(data.data.KV[model][design]['3500'].label_location[1])).attr({
                                    zIndex: 10,
                                    'text-anchor': 'middle'
                                }).add()
                            }
                        }
                    }
                    chart.xAxis[1].update({
                        min: chart.xAxis[0].getExtremes().min*0.0630902,
                        max: chart.xAxis[0].getExtremes().max*0.0630902
                    });
                    chart.yAxis[1].update({
                        min: chart.yAxis[0].getExtremes().min*0.3048,
                        max: chart.yAxis[0].getExtremes().max*0.3048
                    });
                    chart.yAxis[2].update({
                        min: chart.yAxis[0].getExtremes().min*2.98898,
                        max: chart.yAxis[0].getExtremes().max*2.98898
                    });
                });
                $('#chartKV1450').highcharts({
                    chart: {
                        width: myWidth,
                        height: myHeight
                    },
                    title:{
                        text:'KV/KS QUICK SELECTION CURVE • 1450 RPM'
                    },
                    xAxis: [{
                        gridLineWidth: 1,
                        tickInterval: 0.1,
                        min: 1,
                        type: 'logarithmic',
                        title: {
                            enabled: true,
                            text: 'CAPACITY IN LITRES PER SECOND'
                        },
                        startOnTick: true,
                        endOnTick: true,
                        showLastLabel: true
                    },{
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'FLOW IN GALLONS PER MINUTE'
                        },
                        opposite: true
                    }],
                    plotOptions: {
                        series: {
                            lineWidth: 3,
                            lineColor:'#189C5E'
                        }
                    },
                    yAxis: [{
                        tickWidth: .75,   
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN METRES'
                        }
                    },{
                        tickWidth: .75,  
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN FEET',
                            rotation: 270,
                        },
                        startOnTick: false,
                        endOnTick: false,
                        opposite: true
                    },{
                        tickWidth: .75,  
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        lineWidth: .75,
                        offset: 90,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN KPA',
                            rotation: 270,
                        },
                        startOnTick: false,
                        endOnTick: false,
                        opposite: true
                    }],
                    legend: {
                        enabled: false
                    },
                    series: pumpdata_KV_1450
                }, function(chart) {
                    chart.xAxis[1].update({
                        min: chart.xAxis[0].getExtremes().min*15.85032314,
                        max: chart.xAxis[0].getExtremes().max*15.85032314
                    });
                    chart.yAxis[1].update({
                        min: chart.yAxis[0].getExtremes().min*3.28084,
                        max: chart.yAxis[0].getExtremes().max*3.28084
                    });
                    chart.yAxis[2].update({
                        min: chart.yAxis[0].getExtremes().min*9.80665,
                        max: chart.yAxis[0].getExtremes().max*9.80665
                    });
                    var xAxis = chart.xAxis[1];
                    var yAxis = chart.yAxis[1];
                    for (let model in data.data.KV) {
                        let designs = data.data.KV[model];
                        for (let design in designs) {
                            if ('1450' in data.data.KV[model][design]){
                                chart.renderer.label('KV'+model.slice(1)+design, xAxis.toPixels(data.data.KV[model][design]['1450'].label_location[0]), yAxis.toPixels(data.data.KV[model][design]['1450'].label_location[1])).attr({
                                    zIndex: 10,
                                    'text-anchor': 'middle'
                                }).add()
                            }
                        }
                    }
                });
                $('#chartKV2900').highcharts({
                    chart: {
                        width: myWidth,
                        height: myHeight
                    },
                    title:{
                        text:'KV/KS QUICK SELECTION CURVE • 2900 RPM'
                    },
                    xAxis: [{
                        gridLineWidth: 1,
                        tickInterval: 0.1,
                        min: 1,
                        type: 'logarithmic',
                        title: {
                            enabled: true,
                            text: 'CAPACITY IN LITRES PER SECOND'
                        },
                        startOnTick: true,
                        endOnTick: true,
                        showLastLabel: true
                    },{
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'FLOW IN GALLONS PER MINUTE'
                        },
                        opposite: true
                    }],
                    plotOptions: {
                        series: {
                            lineWidth: 3,
                            lineColor:'#189C5E'
                        }
                    },
                    yAxis: [{
                        tickWidth: .75,   
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN METRES'
                        }
                    },{
                        tickWidth: .75,  
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN FEET',
                            rotation: 270,
                        },
                        startOnTick: false,
                        endOnTick: false,
                        opposite: true
                    },{
                        tickWidth: .75,  
                        gridLineWidth: 0,
                        tickInterval: 0.1,
                        lineWidth: .75,
                        offset: 90,
                        type: 'logarithmic',
                        title: {
                            text: 'HEAD IN KPA',
                            rotation: 270,
                        },
                        startOnTick: false,
                        endOnTick: false,
                        opposite: true
                    }],
                    legend: {
                        enabled: false
                    },
                    series: pumpdata_KV_2900
                }, function(chart) {
                    chart.xAxis[1].update({
                        min: chart.xAxis[0].getExtremes().min*15.85032314,
                        max: chart.xAxis[0].getExtremes().max*15.85032314
                    });
                    chart.yAxis[1].update({
                        min: chart.yAxis[0].getExtremes().min*3.28084,
                        max: chart.yAxis[0].getExtremes().max*3.28084
                    });
                    chart.yAxis[2].update({
                        min: chart.yAxis[0].getExtremes().min*9.80665,
                        max: chart.yAxis[0].getExtremes().max*9.80665
                    });
                    var xAxis = chart.xAxis[1];
                    var yAxis = chart.yAxis[1];
                    for (let model in data.data.KV) {
                        let designs = data.data.KV[model];
                        for (let design in designs) {
                            if ('2900' in data.data.KV[model][design]){
                                chart.renderer.label('KV'+model.slice(1)+design, xAxis.toPixels(data.data.KV[model][design]['2900'].label_location[0]), yAxis.toPixels(data.data.KV[model][design]['2900'].label_location[1])).attr({
                                    zIndex: 10,
                                    'text-anchor': 'middle'
                                }).add()
                            }
                        }
                    }
                });
            });
        };
        pageUpdate();
    });
</script>
{% endblock content%}
