{% extends "profiles/stislabase.html" %} 
{% block extrahead %} 
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
{% endblock %} 
{% block content %}

<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>NPSH Data</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active">
                    <a href="#">Dashboard</a>
                </div>
                <div class="breadcrumb-item">
                    <a href="#">Reduced Test Data</a>
                </div>
                <div class="breadcrumb-item">Test List</div>
            </div>
        </div>

        <div class="section-body">
            <h2 class="section-title">NPSH Curve Data Input</h2>
            <p class="section-lead">
                Paste the data table from Excel below. Flow(gpm), NPSH(ft)
            </p>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <form id="npshform">
                            <div class="card-header">
                                <h4>Data Input</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-md-6 form-group">
                                        <label>Pump</label>
                                        <select
                                            class="form-control"
                                            name="pump"
                                        >
                                            <option
                                                disabled=""
                                                selected=""
                                                value=""
                                            >
                                                -- Select an option --
                                            </option>
                                            {% for id, pump in pumps %}
                                                <option value="{{ id }}">
                                                    {{ pump }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-12 col-md-6 form-group">
                                        <label>Paste NPSH Data</label>
                                        <textarea
                                            class="form-control"
                                            rows="10"
                                            name="npshdata"
                                            style="height:100%;"
                                        ></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary" type="submit" id="loaddatabtn">Load Data</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $(document).ready(function() {
        $('#npshform').submit(function(e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'marketingnpshinput' %}",
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: $('#npshform').serialize(),
                success: function (data) {
                    if (data.status == "success") {
                        Swal.fire({
                            type: 'success',
                            title: 'Success',
                            text: 'NPSH data added to database.'
                        });
                    }
                }
            });
        });
    });
</script>
{% endblock content%}
