{% extends "profiles/stislabase.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.0/css/select.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/1.0.7/css/responsive.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" defer type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js" defer type="text/javascript"></script>
<script src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js" defer type="text/javascript"></script>
<script src="https://cdn.datatables.net/select/1.3.0/js/select.bootstrap4.min.js" defer type="text/javascript"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.19/dataRender/datetime.js" defer type="text/javascript"></script>
<script src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js" defer type="text/javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js" defer type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" defer type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" defer type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" defer type="text/javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js" defer type="text/javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js" defer type="text/javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js" defer type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.26/moment-timezone-with-data.min.js" defer
    type="text/javascript"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

{% endblock %}

{% block content %}

<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1> Circulator CEI</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
                <div class="breadcrumb-item"><a href="#">CEI Calculator</a></div>
            </div>
        </div>

        <div class="section-body">
            <h2 class="section-title">Circulator CEI Test Wizard</h2>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Use After Data Reduction</h4>
                        </div>
                        <div class="card-body">
                            <div class="row mt-4">
                                <div class="col-12 col-lg-8 offset-lg-2">
                                    <div class="wizard-steps">
                                        <div class="wizard-step wizard-step-active">
                                            <div class="wizard-step-icon">
                                                <i class="fas fa-tachometer-alt"></i>
                                            </div>
                                            <div class="wizard-step-label">
                                                Select Max Speed Curve
                                            </div>
                                        </div>
                                        <div class="wizard-step">
                                            <div class="wizard-step-icon">
                                                <i class="fas fa-tasks"></i>
                                            </div>
                                            <div class="wizard-step-label">
                                                Reduced Speed Points to Test
                                            </div>
                                        </div>
                                        <div class="wizard-step">
                                            <div class="wizard-step-icon">
                                                <i class="fas fa-database"></i>
                                            </div>
                                            <div class="wizard-step-label">
                                                Circulator CEI
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <form class="wizard-content mt-2">
                                <div class="wizard-pane">
                                    <table class="table table-hover responsive" id="table1">
                                        <thead>
                                            <th>ID</th>
                                            <th>Test Date</th>
                                            <th>Test Name</th>
                                            <th>Test Engineer</th>
                                            <th>Test Loop</th>
                                            <th>Discharge Pipe Size</th>
                                            <th>Inlet Pipe Size</th>
                                            <th>BEP Flow</th>
                                            <th>BEP Head</th>
                                            <th>BEP Efficiency</th>
                                            <th>CEIcl</th>
                                            <th>CEIvl</th>
                                            <th>Pump Type</th>
                                            <th>Impeller Diameter</th>
                                            <th>Full Trim</th>
                                            <th>Bearing Frame</th>
                                            <th>Data Sources</th>
                                            <th>Description</th>
                                        </thead>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $(document).ready(function () {
        var REFERENCE = moment(); // fixed just for testing, use moment();
        var TODAY = REFERENCE.clone().startOf('day');

        function isToday(momentDate) {
            return momentDate.isSame(TODAY, 'd');
        }

        var table1 = $('#table1').DataTable({
            autoWidth: false,
            select: {
                style: 'single'
            },
            order: [
                [0, "desc"]
            ],
            columnDefs: [{
                    className: "text-center",
                    targets: [0, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
                },
                {
                    targets: 1,
                    render: function (data) {
                        return (isToday(moment(data))) ?
                            moment(data).tz("America/Toronto").format("h:mm a") : moment(data)
                            .tz("America/Toronto").format("MMM Do, YYYY");
                    }
                },
                {
                    targets: [5, 6, 7, 8, 9, 10, 11],
                    render: function (data) {
                        if (data == null)
                            return null
                        else
                            return parseFloat(data).toFixed(2);
                    }
                },
                {
                    render: function (data, type, row, ) {
                        return (data === true) ?
                            data = '<span class="true">✔</span>' :
                            data = '<span class="false">✘</span>';
                    },
                    targets: 14
                }
            ],
            responsive: true,
            searching: true,
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: "{% url 'reducedtestlist-json' %}",
        });

        table1.on('dblclick', 'tr', function () {
            var id = (table1.row(this).data())[0]
            console.log(id);
            window.location = "{% url 'ceiwizard2' %}?testid=" + id;
        });
    });
</script>
{% endblock content%}